@font-face {
  font-family: 'DINPRO';
  src: url('~/assets/fonts/DIN Pro 400.woff2') format('woff2'),
    url('~/assets/fonts/DIN Pro 400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPRO';
  src: url('~/assets/fonts/DIN Pro Bold 700.woff2') format('woff2'),
    url('~/assets/fonts/DIN Pro Bold 700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('~/assets/fonts/Oswald-Regular.woff2') format('woff2'),
    url('~/assets/fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('~/assets/fonts/Oswald-Bold.woff2') format('woff2'),
    url('~/assets/fonts/Oswald-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}