// sass-lint:disable-all
$red: red;
$gray: gray;
$desktop-min: 1024px;
$desktop: 1440px;
$pimary-font: "DINPRO",
"Arial",
sans-serif;
$secondary-font: "Oswald",
"Arial",
sans-serif;

$red-B40036: #B40036;
$red-64001E: #64001E;
$black: #000000;
$white: #ffffff;
$white-c9c9c9: #c9c9c9;
$red-ff0000-99: #ff0000 98.575%;
$red-790505-99: #790505 98.575%;
$red-ff0909-6: #ff0909 5.644%;
$red-450b0b: #450b0b;
$red-f500004d-100: #f500004d 100%;
$red-531919: #531919;
$black-ff090900-6: #ff090900 5.644%;
$black-170f0f-6: #170f0f 5.644%;
$black-2a2424-100: #2a2424 100%;
$black-161313-6: #161313 5.644%;
$black-000000-99: #000000 98.575%;
$black-070101-6: #070101 5.644%;
$black-2f2f2f: #2f2f2f;
$black-280000-6: #280000 5.644%;
$black-454040-100: #454040 100%;
$black-210000: #210000;
$black-2800004d-19: #2800004d 18.235%;
$black-262020: #262020;
$black-1b1818-100: #1b1818 100%;
$black-0000004d: #0000004d;
$black-2f0000: #2f0000;