$red: red;
$gray: gray;
$desktop: 1440px;
$white: #ffffff;
$white-grey: #c9c9c9;
$gray-light: #2f2f2f;
$blackt-btn-bg: #280000 5.644%;
$red-btn-bg: #ff0000 98.575%;
$black-btn-hover: #070101 5.644%;
$red-btn-hover: #790505 98.575%;
$black-btn-active: #000000 98.575%;
$red-btn-active: #ff0909 5.644%;
$gray-btn-disabled: #ff090900 5.644%;
$black-btn-disabled: #000000 98.575%;
$black-link-bg: #2f2f2f;
$black-link-hover-1: #170f0f 5.644%;
$black-link-hover-2: #2a2424 100%;
$black-link-active-1: #161313 5.644%;
$black-link-active-2: #454040 100%;